.page-1.active
  .middle
    %h1
      Systems monitoring

.page-2.inactive
  .container
    .row
      .col
        %h2
          = system_information
    .row
      .col
        %h3
          CPU
    .row
      .col
        %h4
          #{user_cpu_time} %
        %p
          User CPU time
      .col
        %h4
          #{system_cpu_time} %
        %p
          System CPU time
      .col
        %h4
          #{idle_cpu_time} %
        %p
          Idle CPU time

    .row
      .col
        %h3
          RAM
    .row
      .col
        %h4
          #{to_gb(total_ram)} GB
        %p
          Total RAM
      .col
        %h4
          #{to_gb(ram_used)} GB
        %p
          RAM used
      .col
        %h4
          #{to_gb(ram_free)} GB
        %p
          RAM free
      .col
        %h4
          #{to_gb(ram_shared)} GB
        %p
          RAM shared
      .col
        %h4
          #{to_gb(ram_buffered)} GB
        %p
          RAM buffered
      .col
        %h4
          #{to_gb(cached_memory)} GB
        %p
          Cached memory

    .row
      .col
        %h3
          Disk
    .row
      .col
        %h4
          #{to_gb(disk_size)} GB
        %p
          Total size
      .col
        %h4
          #{to_gb(disk_available_space)} GB
        %p
          Available space
      .col
        %h4
          #{to_gb(disk_space_utilization)} GB
        %p
          Used space
