.page-0.active
  .middle
    %h1
      Systems monitoring

- systems_overview.each_with_index do |system_overview, index|
  %div{ class: "page-#{index + 1} inactive" }
    .container
      .row
        .col
          %h2.system_information
            = system_overview[:system_information]
      .row
        .col
          %h3
            CPU
      .row
        .col
          %h4#user_cpu_time
            #{system_overview[:user_cpu_time]} %
          %p
            User CPU time
        .col
          %h4#system_cpu_time
            #{system_overview[:system_cpu_time]} %
          %p
            System CPU time
        .col
          %h4#idle_cpu_time
            #{system_overview[:idle_cpu_time]} %
          %p
            Idle CPU time

      .row
        .col
          %h3
            RAM
      .row
        .col
          %h4#total_ram
            #{to_gb(system_overview[:total_ram])} GB
          %p
            Total RAM
        .col
          %h4#ram_physical_free
            #{to_gb(system_overview[:ram_physical_free])} GB
          %p
            Free physical memory
        .col
          %h4#ram_free
            #{to_gb(system_overview[:ram_total_free])} GB
          %p
            Total free RAM
        .col
          %h4#ram_shared
            #{to_gb(system_overview[:ram_shared])} GB
          %p
            RAM shared
        .col
          %h4#ram_buffered
            #{to_gb(system_overview[:ram_buffered])} GB
          %p
            RAM buffered
        .col
          %h4#cached_memory
            #{to_gb(system_overview[:cached_memory])} GB
          %p
            Cached memory

      .row
        .col
          %h3
            Disk
      .row
        .col
          %h4#disk_size
            #{to_gb(system_overview[:disk_size])} GB
          %p
            Total size
        .col
          %h4#disk_available_space
            #{to_gb(system_overview[:disk_available_space])} GB
          %p
            Available space
        .col
          %h4#disk_space_utilization
            #{to_gb(system_overview[:disk_space_utilization])} GB
          %p
            Used space

      .row
        .col
          #refresh
            %img{src: "/images/refresh-button.svg", height: "30"}
