.page-0.active
  .middle
    %h1
      Systems monitoring

- systems_overview.each_with_index do |system_overview, index|
  %div{ class: "page-#{index + 1} inactive" }
    .container
      .row
        .col
          %h2{ id: "system_name_#{ index + 1 }" }
            = system_overview[:system_name]
          %p{ id: "system_information_#{ index + 1 }" }
            #{system_overview[:system_information]}%
      .row
        .col
          %h3
            CPU
      .row
        .col
          %h4{ id: "user_cpu_time_#{ index + 1 }" }
            #{system_overview[:user_cpu_time]} %
          %p
            User CPU time
        .col
          %h4{ id: "system_cpu_time_#{ index + 1 }" }
            #{system_overview[:system_cpu_time]} %
          %p
            System CPU time
        .col
          %h4{ id: "idle_cpu_time_#{ index + 1 }" }
            #{system_overview[:idle_cpu_time]} %
          %p
            Idle CPU time

      .row
        .col
          %h3
            RAM
      .row
        .col
          %h4{ id: "total_ram_#{ index + 1 }" }
            #{to_gb(system_overview[:total_ram])} GB
          %p
            Total RAM
        .col
          %h4{ id: "ram_physical_free_#{ index + 1 }" }
            #{to_gb(system_overview[:ram_physical_free])} GB
          %p
            Free physical memory
        .col
          %h4{ id: "ram_free_#{ index + 1 }" }
            #{to_gb(system_overview[:ram_total_free])} GB
          %p
            Total free RAM
        .col
          %h4{ id: "ram_shared_#{ index + 1 }" }
            #{to_gb(system_overview[:ram_shared])} GB
          %p
            RAM shared
        .col
          %h4{ id: "ram_buffered_#{ index + 1 }" }
            #{to_gb(system_overview[:ram_buffered])} GB
          %p
            RAM buffered
        .col
          %h4{ id: "cached_memory_#{ index + 1 }" }
            #{to_gb(system_overview[:cached_memory])} GB
          %p
            Cached memory

      .row
        .col
          %h3
            Disk
      .row
        .col
          %h4{ id: "disk_size_#{ index + 1 }" }
            #{to_gb(system_overview[:disk_size])} GB
          %p
            Total size
        .col
          %h4{ id: "disk_available_space_#{ index + 1 }" }
            #{to_gb(system_overview[:disk_available_space])} GB
          %p
            Available space
        .col
          %h4{ id: "disk_space_utilization_#{ index + 1 }" }
            #{to_gb(system_overview[:disk_space_utilization])} GB
          %p
            Used space

      .row
        .col
          #refresh
            %img{src: "/images/refresh-button.svg", height: "30"}
